.bar {
  height: 30px;
  background: #ddd;
  z-index: 1;
  margin-bottom: 20px;
  width: 85%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.bar-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 15%;
  background: #cd661b;
  color: #eee;
  font-weight: bold;
  font-size: 0.8em;
}

.fill-container {
  width: 75%;
  height: 100%;
}

.percentage {
  width: 10%;
}