#home {
  height: 100vh;
  background: #1b242f;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#home h1 {
  margin: 10px;
  font-weight: normal;
  font-size: 2.2em;
}

#home h1 span {
  color: #cd661b;
}

#home button {
  margin-top: 20px;
  background: transparent;
  border: 3px solid #eee;
  border-radius: 3px;
  padding: 15px;
  font-size: 23px;
  color: #eee;
  cursor: pointer;
  transition: all 0.4s;
  outline: none;
}

@media screen and (max-width: 600px) {
  #home button {
    padding: 8px;
    font-size: 18px;
    border: 2px solid #eee;
  }
}

#home button:hover {
  background: #cd661b;
  border-color: #cd661b;
}

#home button i {
  margin-left: 5px;
  transition: transform 0.4s; 
}

#home button:hover i {
  transform: rotate(90deg);
}